.venv
*.zip
*.csv

# backend/data/processed/recipes_cleaned.json
backend/faiss_index/*.json
backend/faiss_index/*.index
backend/data/processed/*.json

__pycache__/
.env
backend/model_cache/
model_cache/

# Frontend
frontend/node_modules/
frontend/dist/